<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dr. João Causa Ganha </title>
  <link rel="stylesheet" href="index.css" />
</head>
<body>
  <header>
    <h1>Dr. João Causa Ganha</h1>
    <audio controls autoplay loop>
  <source src="/public/audios/happy.mp3" type="audio/mp3">  
 </audio>
    <nav>
      <a href="#sobre">Sobre</a>
      <a href="#Areas de atuação">Áreas de atuação</a>
      <a href="#Diferencial">Diferencial</a>
      <a href="#contato">Contato</a>
    </nav>
  </header>

  <section class="frase">
    <h2>Se você possui um problema, eu tenho a solução!</h2>
    <a href="#contato" class="btn">Agende uma Consulta</a>
  </section>

  <section id="sobre" class="flex-section">
    <img src="/public/images/advogado.jpg" alt="advogado" />
    <div>
      <h2>Sobre o Dr. João Causa Ganha</h2>
      <p>Advogado renomado por auxiliar seus clientes nas situações mais complicadas e inesperadas.</p>
    </div>
  </section>

  <section id="Areas de atuação">
    <h2>Áreas de atuação:</h2>
    <ul class="grid">
      <li>Diretio Civil</li>
      <li>Direito Criminal</li>
      <li>Divórcio</li>
      <li>Impostos</li>
    </ul>
  </section>

  <section id="Diferencial">
    <h2>Diferencial:</h2>
    <div class="flex-section">
      <p>✔ Serviço Discreto<br>✔ Resultados reais<br>✔ Atendemos a qualquer hora e lugar<br>✔ Sigilo absoluto</p>
    </div>
  </section>

  <section id="contato">
    <h2>Entre em Contato</h2>
    <form>
      <input type="text" placeholder="Nome" required />
      <input type="email" placeholder="Email" required />
      <input type="tel" placeholder="Telefone" />
      <textarea placeholder="Mensagem" required></textarea>
      <button type="submit">Enviar</button>
    </form>
  </section>

  <footer>
    <p>© 2025 Dr. João causa ganha - Todos os direitos reservados.</p>
    <p>Instagram | WhatsApp</p>
  </footer>
</body>
</html>
